In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

df = pd.read_csv('/content/a.csv')

In [19]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

newdf = df.select_dtypes(include=numerics)

In [20]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
 
df_scaled = scaler.fit_transform(newdf.to_numpy())
df_scaled = pd.DataFrame(df_scaled, columns=list(newdf.columns))
 
print("Scaled Dataset Using MinMaxScaler")
df_scaled.head()

Scaled Dataset Using MinMaxScaler

,Radiojavan_play,Radiojavan_likes,popularity,danceability,energy,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms
0,1.000000,0.995732,0.777778,0.892039,0.920681,0.945714,0.338673,0.249310,0.000049,0.332757,0.982031,0.467731,0.134795
1,0.827992,0.989090,0.777778,0.829161,0.549837,0.803826,0.043021,0.507265,0.000004,0.045636,0.713561,0.230482,0.189533
2,0.666540,0.696168,0.650794,0.775774,0.936133,0.938230,0.221968,0.657403,0.000000,0.312209,0.920727,0.302133,0.174195
3,0.666366,1.000000,0.650794,0.744928,0.856813,0.865407,0.322654,0.357127,0.000000,0.353304,0.559243,0.571741,0.133203
4,0.663075,0.504658,0.682540,0.795943,0.808398,0.846358,0.400458,0.040326,0.000000,0.802098,0.919670,0.337455,0.061650

In [21]:
df1 = df_scaled

In [33]:
weights = {
    'Radiojavan_play': 0,
    'Radiojavan_likes': 0,
    'popularity': 0,
    'danceability': 0.1,
    'energy': 0.6,
    'loudness': 0.1,
    'speechiness': 0.7,
    'acousticness': 0.5,
    'instrumentalness': 0.9,
    'liveness': 0.1,
    'valence': 0.2,
    'tempo': 0.1
}

In [37]:
from math import sqrt
d = {}
for index, row in df1.iterrows():
  d[index] = 0
  score = (weights['Radiojavan_play'] * row['Radiojavan_play']) + (weights['Radiojavan_likes'] * row['Radiojavan_likes']) + (weights['popularity'] * row['popularity']) + (weights['danceability'] * row['danceability']) + (weights['energy'] * row['energy']) + (weights['loudness'] * row['loudness']) + (weights['speechiness'] * row['speechiness']) + (weights['acousticness'] * row['acousticness']) + (weights['instrumentalness'] * row['instrumentalness']) + (weights['liveness'] * row['liveness']) + (weights['valence'] * row['valence']) + (weights['tempo'] *row['tempo'])
  d[index] = score

sorted_d = {k: v for k, v in sorted(d.items(), key=lambda item: item[1], reverse=True)}
top5 = list(sorted_d.keys())[:5]
print(top5)

[87, 488, 176, 187, 373]

In [38]:
for i in top5:
  print(df['artistName'][i], df['musicName'][i])

Mohsen Chavoshi Bist Hezar Arezoo
Wantons Age Payeyi
Donya Tala
Yas Sarkoob
TM Bax Ni Copito